.header{
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #001B26;
    color: #ffffff;
    font-size: 16px;
    align-items: center;
}

.header__navigation{
    display: flex;
    align-items: center;
}

.navigation__logo{
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
    padding: 0 40px;
}

.navigation__logo img{
  width: 44px;
  height: 44px;
}

.logo__name{
    white-space: nowrap;
    font-size: 24px;
}

.navigation__navbar{
    display: flex;
    align-items: center;
}

.navbar__list{
    display: flex;
    list-style: none;
    gap: 24px;
    padding: 0;
}

.header__actions{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.actions__login{
    text-decoration: none;
    color: #ffffff;
    background-color: #001B26;
    padding: 14px 24px;
    white-space: nowrap;
    border-radius: 17px;
}

.actions__login:hover{
    background-color: #0C526D;
}

.actions__login:active{
    background-color: #086482;
}

.actions__register{
    text-decoration: none;
    color: #ffffff;
    background-color: #086482;
    padding: 14px 24px;
    border-radius: 17px;
}

.actions__register:hover{
    background-color: #007DA2;
}

.actions__register:active{
    background-color: #009EC9;
}

.header__userIcon{
    color: #ffffff;
}

.subitem{
    position: absolute;
    list-style-type: none;
    padding: 0;
    z-index: 1;
    background-color: #086482;
    right: 0;
    display: none;
    flex-direction: column;
}

.user__item{
    padding: 5px;
    width: 105px;
    text-align: center;
}


/* hamburger menu */

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    height: 44px;
    width: 44px;
    padding-left: 20px;
}

.hamburger-menu svg{
    height: 38px;
    fill: #fff;
    margin: 4px 0;
}

/* Menú móvil */
.mobile-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    width: 102px;
    z-index: 30;
}

.mobile-nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 15px;
    padding: 10px 0;
}

.mobile-nav__item {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    background-color: #086482;
    border-radius: 17px;
    text-align: center;
}

/* circle */

.user__icon{
    height: 38px;
    width: 38px;
    fill: #fff;
    border-radius: 50%;
    display: none;
}

.hidden__actions{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    right: 0px;
    gap: 15px;
    padding: 10px 0;
}

.hidden__login{
    text-decoration: none;
    color: #ffffff;
    background-color: #001B26;
    padding: 14px 24px;
    white-space: nowrap;
    border-radius: 17px;
}

.hidden__login:hover{
    background-color: #0C526D;
}

.hidden__login:active{
    background-color: #086482;
}

.hidden__register{
    text-decoration: none;
    color: #ffffff;
    background-color: #086482;
    padding: 14px 24px;
    border-radius: 17px;
}

.hidden__register:hover{
    background-color: #007DA2;
}

.hidden__register:active{
    background-color: #009EC9;
}



/* Media Queries */
@media (max-width: 1045px) {
    .navigation__navbar {
        display: none;
    }

    .hamburger-menu {
        display: block
    }

    .mobile-nav {
        display: none;
    }

    .mobile-nav.show {
        display: flex;
    }
}


@media (max-width: 768px) {

    .actions__login{
        display: none;
    }
    .actions__register{
        display: none;
    }
    .user__icon{
        display: block;
    }

    .hidden__actions{
        display: none;
    }

    .hidden__actions.show{
        display: flex;
        z-index: 30;
    }
}

@media (max-width: 520px) {

    .logo__name{
        display: none;
    }
}