@import url("header.css");
@import url('cardComponent.css');

body{
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.menu{
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    margin: 80px 20px 0 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}



.category{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.category__container {
    width: calc(100% - 60px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    padding: 0 30px;
}

.category__title {
    grid-column: 1 / -1;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.search__container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 0 30px;
  
}

.search__form{
  display: flex;
  align-items: center;
}

.search__input{
  background-color: var(--secondary-color);
  border: none;
  padding: 8px 24px;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
}

.search__input::placeholder{
  color: var(--text-color);
  opacity: 1;
}

.search__button{
  fill: var(--text-color);
  background-color: transparent;
  border: none;
}

.search__button svg{
  height: 24px;
  width: 24px;
}



.select__category{
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border: none;
  outline: none;
  padding: 0 8px;
  height: 34px;
  border-radius: 50px;
}



/* cards */

@media (max-width: 425px) {
    .category__container {
        grid-template-columns: 1fr;
    }
}

