@import url("header.css");

body{
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 80px 0;
}

.main__title{
    color: var(--text-colorD)
}

.main__nav{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--tertiary-color);
}

.nav__list{
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    display: flex;   
    gap: 5px;
    margin: 0;    
    padding: 10px 20px;
    overflow-x: auto;
}

.nav__item a{
    padding: 14px 24px;
    background-color: var(--secondary-color);
    border-radius: 17px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0;
    align-content: center;
    white-space: nowrap;
}

.nav__item a:hover{
    background-color: var(--normal-hover);
}

.nav__item a:active{
    background-color: var(--tertiary-color);
    
}

.nav__item a{
    color: var(--text-color);
    font-weight: bold;
    font-size: 24px;
}

.section__container{
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 100%;
    overflow-x: auto;
}

.section__title{
    text-align: center;
    overflow-x: hidden;
}

.grid__container{
    display: grid;
    grid-template-columns: 70px minmax(auto, 1fr) repeat(2, 200px) 120px;
    padding: 10px 20px;
    gap: 5px;
    
    margin: 20px auto;
    color: var(--text-color);
    
    
}

.grid__title{
    padding: 14px 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: var(--secondary-color);
    margin: 0;
    white-space: normal;
}

.grid__item{
    padding: 14px 10px;
    background-color: var(--tertiary-color);
    border-radius: 17px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0;
    align-content: center;
    white-space: normal;
    overflow: hidden; /* Oculta el contenido que se desborda */
}


.actionButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

.actionButtons p{
    margin: 0;
}

.edit__button{
    padding: 10px 24px;
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    font-weight: bold;
    border-radius: 17px;
    width: 102px;
}

.edit__button:hover{
    background-color: var(--dark-hover);
}

.edit__button:active{
    background-color: var(--primary-color);
}

.delete__button{
    padding: 10px 24px;
    background-color: var(--delete-button-color);
    border: none;
    color: var(--text-color);
    font-weight: bold;
    border-radius: 17px;
    width: 102px;
}

.delete__button:hover{
    background-color: var(--delete-button-hover);
}

.delete__button:active{
    background-color: var(--delete-button-colorD);
}


.add__button {
    padding: 10px 24px;
    background-color: var(--add-button-color);
    border: none;
    color: var(--text-color);
    font-weight: bold;
    border-radius: 17px;
    width: 102px;
}

.add__text{
    margin: 0;
    color: #32b550;
    padding: 8px 10px;
    font-weight: bold;
    font-size: 18px;
}

.add__button:hover{
    background-color: var(--add-button-hover);
}

.add__button:active{
    background-color: var(--add-button-colorD);
}



/* Estilos para el fondo oscuro */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Estilos para el contenedor del modal */
.modal__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 500px;
    width: 100%;
    color: white;
}

.modal__title{
    margin-bottom: 50px;
}

.modal__container p {
    margin-bottom: 10px;
}

/* Estilos para el contenedor del formulario */
.form__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/* Estilos para los botones */
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button--confirm {
    background-color: var(--add-button-color);
    color: white;
}

.button--confirm:hover {
    background-color: var(--add-button-hover);
}

.button--confirm:active {
    background-color: var(--add-button-colorD);
}


.button--cancel {
    background-color: var(--delete-button-color);
    color: white;
}

.button--cancel:hover {
    background-color: var(--delete-button-hover);
}

.button--cancel:active {
    background-color: var(--delete-button-colorD);
}


/* Estilos para la opción de confirmar */
.confirm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;  
}
.confirm.show{
    display: block;
}

.confirm__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 500px;
    width: 100%;
    color: white;
}

.confirm__content p{
    text-align: center;
}

/* Estilo para los botones */

.btn__container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 10px 20px;
    border-radius: 17px; 
    margin: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-yes { 
    background-color: var(--add-button-color); 
}
.btn-yes:hover { 
    background-color: var(--add-button-hover); 
}
.btn-yes:active { 
    background-color: var(--add-button-colorD); 
}


.btn-no { 
    background-color: var(--delete-button-color); 
}     
.btn-no:hover { 
    background-color: var(--delete-button-hover); 
}   
.btn-no:active { 
    background-color: var(--delete-button-colorD); 
}   
                   

