body{
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword{
    background-color: #001B26;
    color: #ffffff;
    display: flex;
    width: 660px;
    min-width: 300px;
    margin: 10px;
    justify-content: center;
}

.forgotPassword__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    min-width: 300px;
    padding: 80px 30px;
}

.forgotPassword__title{
    margin: 0 0 36px 0;
    font-weight: bold;
    font-size: 24px;
}

.forgotPassword__group{
    display: flex;
    width: 100%;
    margin: 16px 0;
}

.forgotPassword__input{
    padding: 14px 24px;
    border: 1px solid #086482;
    border-radius: 17px;
    background-color: #086482;
    color: #ffffff;
    width: 100%;
    outline: none;
    
}

.forgotPassword__input::placeholder{
    opacity: 0.8;
}

.forgotPassword__input:hover{
    border: 1px solid #009EC9;
}

.forgotPassword__input:focus{
    background-color: #ffffff;
    color: #001B26;
}

.forgotPassword__button{
    width: 100%;
    background-color: #009EC9;
    border: none;
    border-radius: 17px;
    padding: 14px 24px;
    color: #ffffff;
    font-weight: bold;
}

.forgotPassword__button:hover{
    background-color: #00b9de;
}
.forgotPassword__button:active{
    background-color: #18d6f8;
}
